*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #414141;
    font-family: 'Noto Sans';
}
.carousel-inner img{
    height: auto;
}


.form-label{
    font-size: 16px;
}

#register-btn{
    background-color: transparent;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    font-size: 17px;
    width: 100%;
}



/* @media (min-width:768px) and (max-width:1610px) {
#carousel{
    width: 100%;
}
.row{
    flex-direction: column;
}

} */

@media (max-width:1416px) {
    #form{
        height:100%;
        width: 100%;
    }    
}