* {
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in;
}
/*for smooth scrolling*/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
    }
/*------*/
body {
    color: #414141;
    font-family: 'Noto Sans';
    margin-bottom: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #414141;
    opacity: 1;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #414141;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #414141;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #414141;
    opacity: 1;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #414141;
    opacity: 1;
}

::placeholder { /* Most modern browsers support this now. */
    color: #414141;
    font-weight: 500;
    opacity: 1;
}


.form-label {
    font-size: 16px;
    font-weight:300;     
}
.form-control{
    font-size: 1rem;
}
#forgot-password-header > p{
    font-size:14px;
}

.w-100 {
    filter: brightness(0.7);
}
#indi{
    border-radius: 90%;
    width: 7px;
    height: 7px;
}
#carousel{
    padding:0;
}
.carousel-inner img {
    width: 100%;
    height: 100vh;
}

#login-btn,
#reset-password-page-btn,
#forgot-password-page-btn {
    background-color: transparent;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    font-size: 17px;
    width: 100%;
}
.form-control{
    padding: 0.7rem;
}
#login-btn:hover,
#reset-password-page-btn:hover,
#forgot-password-page-btn:hover {
    color: #ffff;
    background-color: #F88634;
}
h1 {
    width:80%;
}
.carousel-caption {
    text-align:left;
    left: 0;
    right: 0;
    width: 100%;
    height: 65%;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,0.79));
    padding:24% 24% 18% 12%;
    bottom:0.001rem;
}
.carousel-caption > p{
    word-spacing:0.14rem;
    font-weight:lighter;
    margin-top:3%;
    font-size:0.8rem;
    color:#ffff;
    opacity:1;
}
#lost-password-div {
    font-size: 14px;
    text-align: center;
    color: #414141;
}

#lost-password {
    text-decoration: none;
    color: #414141;
}

#lost-password-div p a {
    text-decoration: none;
}
.form-control:focus {
    border: 1px solid #2B64B1;
    box-shadow: 0 0 10px #2B64B11F  ;
}
.carousel-item{
    transition: 0s;
}


.pp {
    display: flex;
    justify-content: center;
    margin:40% 0;
}

#form {
    display: grid;
    grid-template-rows: 90vh 10vh;
    align-items: center;
}

form{
    padding-top:14%;
}
#register-btn {
    background-color: transparent;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    font-size: 17px;
    width: 100%;
}

#register-btn:hover {
   color: #ffff;
   background-color: #F88634;
}
#lost-password-div {
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}

#lost-password {
    text-decoration: none;
    color: #414141;
    font-weight:lighter;
}

#lost-password-div p a {
    text-decoration: none;
}

@media screen AND (max-width:1310px){
    h1{
        width:90%
    }
}

@media screen AND (max-width:1254px) {
    form{
        padding-top:0;
    }
    h1{
        width:100%;
    }
    .carousel-caption {
        text-align: center;
        padding: 26%  12% 12% 12%;
    }
    #carousel {
        width: 100vw;
        height: auto;
    }

    #form {
        margin-top:5%;
        width: 100vw;
        grid-template-rows: auto;
    }
    .pp {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin: 5% 0;
    }
    
}
@media screen AND (max-width:991px) {
    

    .carousel-caption{
        padding:13% 14% 0 14%;
    }
    .carousel-inner img {
        width: 100%;
        height: auto;
    }
   
}

@media screen AND (max-width:767px) {
    .carousel-inner img {
        background: linear-gradient(180deg,transparent,rgba(0,0,0,0.75));
    }
    form {
        width: 90%;
    }
}

@media screen AND (max-width:767px){
    
    .carousel-caption {
        text-align: center;
        padding: 23% 10% 10% 10%;
    }
}
@media screen AND (max-width:518px) and (min-width:322px){
    h1{
        font-size:1.2em;
    }
    .carousel-caption {
        text-align: center;
        padding: 21.5% 10% 10% 10%;
    }
}
@media screen AND (max-width:322px){
    .carousel-caption > * {
        display:none;
    }
}
