*{
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #414141;
    font-family: 'Noto Sans';
}

.form-label{
    font-size: 16px;
}

#login-btn,#reset-btn,#change-password-btn{
    background-color: transparent;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    font-size: 17px;
    width: 100%;
}

#lost-password{
    font-size: 14px;
    text-align: center;
}

#lost-password a{
    text-decoration: none;
    color: #414141;
}
#lost-password p a{
    text-decoration: none;
}
